.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: url(../pic/background.png);
    color: #ebe3ee;
    height: 133px;
    z-index: 999;
}
.header_link {
    color: #ebe3ee;
    text-decoration: none;
    font-size:14pt;
}
.header_link:visited {
    text-decoration: none;
    color: #ebe3ee;
}
.header_link:hover {
    color: white;
    text-decoration: none;
    font-size:15pt;
}
.footer_link {
    color: #a126c6;
    text-decoration: none;
}
.footer_link:visited {
    color: #a126c6;
    text-decoration: none;
}
.nav_link {
    color: #8a02bd;
    text-decoration: none;
}
.nav_link:visited {
    color: #8a02bd;
    text-decoration: none;
}
#icon {
    padding: 10px;
    padding-right: 20px;
    padding-left: 50px;
}
.content {
    margin-left: 230px;
    margin-top: 133px;
}
body {
    display: block;
    margin: 0px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #d8a5f0;
   text-align: center;
}
.nav {
    top: 133px;
	padding-bottom: 10010px;
	padding-left: 15px;
	padding-top: 15px;
	margin-bottom: -10000px;
	float: left;
	width: 230px;
	position: fixed;
	background: #f6e1f7;
}