.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: url(../pic/background.png);
    color: #ebe3ee;
    height: 133px;
}
.header_link {
    color: #ebe3ee;
    text-decoration: none;
    font-size:14pt;
}
.header_link:visited {
    text-decoration: none;
    color: #ebe3ee;
}
.header_link:hover {
    color: #af76c5;
    text-decoration: none;
    font-size:18pt;
}
.header_link:active {
    text-decoration: none;
    color: #4a1060;
}

.header_link{color:red; font-size:14pt; text-decoration: none;}
.header_link:hover{color:blue; font-size:18pt;}
#icon {
    padding: 10px;
    padding-right: 20px;
}
.content {
    margin-left: 230px;
    margin-top: 133px;
}
body {
    display: block;
    margin: 0px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: SteelBlue;
   color: white;
   text-align: center;
}
.nav {
    top: 133px;
	padding-bottom: 10010px;
	margin-bottom: -10000px;
	float: left;
	width: 230px;
	position: fixed;
	background: #eee;
			}